<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span style="
     color: #498c0040;
     text-shadow: 2px 2px #797d79;
     font-weight: bolder;
     font-size: 15px;">Find China Product</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
        <ion-input value="{text}" placeholder="Enter product name" [(ngModel)]="searchtxt"></ion-input>
    </ion-item>
    <ion-button (click)="search(searchtxt)" shape="round" fill="outline">Find Product</ion-button>
    <div class="clist">
        {{ resulttxt }}
        {{ list?.length }}

        <ion-list padding *ngFor="let name of list">
            <ion-item >
                <ion-label>{{ name.Name }}</ion-label>
                <ion-label>{{ name.Industry }}</ion-label>
                <ion-label>{{ name.Headquarters }}</ion-label>
            </ion-item>
        </ion-list>
    </div>
</div>
</ion-content>
